<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/admin/head_side.css}">
    <link rel="stylesheet" th:href="@{/css/admin/form_view.css}">
    <script th:src="@{/js/admin.js}"></script>
</head>
<body>
<div class="header">
    <div class="left-head">
        <h3>Danh sách sản phẩm</h3>
    </div>
    <div class="right-head">
        <h3>Xin chào,admin</h3>
    </div>
</div>


<div th:replace="fragments/sidebar_admin.html :: sidebaradmin"></div>

<div class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Sản phẩm</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div th:if="${isempty}"><h1 style="color:red;margin:0 auto;padding-top:20px;">Không có yêu cầu đăng kí sản phẩm!</h1></div>
            <div th:unless="${isempty}">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Image</th>
                        <th>Tên sản phẩm</th>
                        <th>Tên cửa hàng</th>
                        <th>Danh mục</th>
                        <th>Giá</th>
                        <th>Số lượng trong kho</th>
                        <th>Ngày yêu cầu</th>
                        <th>Chức năng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pro : ${listpro}" th:if="${pro.status == 0}">
                        <td th:text="${pro.id}"></td>
                        <td><img th:src="@{/img/{image}(image=${pro.imageurl})}" alt="pro Image" style="width:100px;height:auto;border-radius:5px;object-fit:cover;"></td>
                        <td th:text="${pro.name}"></td>
                        <td th:text="${pro.shop.shopname}"></td>
                        <td th:text="${pro.category.name}"></td>
                        <td th:text="${#numbers.formatInteger(pro.price, 1, 'POINT')}"></td>
                        <td th:text="${pro.stock}"></td>
                        <td th:text="${#temporals.format(pro.createdAt, 'dd/MM/yyyy')}"></td>
                        <td>
                            <form th:action="@{/admin/product/approve/{id}(id=${pro.id})}" method="post">
                                <button type="submit" class="btn btn-edit">Duyệt</button>
                            </form>
                            <form th:action="@{/admin/product/reject/{id}(id=${pro.id})}" method="post">
                                <button type="submit" class="btn btn-delete">Từ chối</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination">
                <li><a href="#">«</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
