<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/seller_head.html :: sellerhead"></div>
<body>
<div th:replace="fragments/seller_header.html :: sellerheader"></div>

<!-- container -->
<div class="seller_home_contain">
    <div th:replace="fragments/sidebar_seller.html :: sidebarseller"></div>

    <div class="main_page">
        <div class="main_page__eval-shop">
            <div class="main_page__eval">
                <h3 class="main_page__eval-text">Đánh giá shop</h3>
                <span class="main_page__eval-val">0.0</span>
                <span class="main_page__eval-max">/5</span>
            </div>
            <div class="main_page__eval-table">
                <div class="main_page__eval-qnt">
                    <p class="main_page__eval--text">Tổng lượt đánh giá</p>
                    <div class="main_page__eval--num">0</div>
                </div>
                <div class="main_page__eval-good">
                    <p class="main_page__eval--text">Tỷ lệ đánh giá tốt</p>
                    <div class="main_page__eval--num">0%</div>
                </div>
            </div>
        </div>

        <div class="main_page__list-eval">
            <h3 class="main_page__list-eval-header">Danh sách đánh giá shop</h3>
            <div class="main_page__list-eval-select">
                <div class="main_page__list-eval-select-text">Số sao đánh giá</div>
                <input type="checkbox" class="select">
                <div class="main_page__list-eval-select-star">Tất cả</div>
                <input type="checkbox" class="select">
                <div class="main_page__list-eval-select-star">5 Sao( 0 )</div>
                <input type="checkbox" class="select">
                <div class="main_page__list-eval-select-star">4 Sao( 0 )</div>
                <input type="checkbox" class="select">
                <div class="main_page__list-eval-select-star">3 Sao( 0 )</div>
                <input type="checkbox" class="select">
                <div class="main_page__list-eval-select-star">2 Sao( 0 )</div>
                <input type="checkbox" class="select">
                <div class="main_page__list-eval-select-star">1 Sao( 0 )</div>
            </div>
            <div class="main_page__list-eval-search">
                <span class="main_page__list-eval--text search">Tìm kiếm</span>
                <input type="text" class="find" placeholder="Tên sản phẩm, Mã đơn hàng">
                <span class="main_page__list-eval--text">Từ:</span>
                <input type="date"  class="date">
                <span class="main_page__list-eval--text">Đến:</span>
                <input type="date" class="date">
            </div>
            <div class="main_page__list-eval-button">
                <button class="main_page__list-eval-button-search">Tìm kiếm </button>
                <button class="main_page__list-eval-button-reset">Đặt lại</button>
            </div>

            <div class="main_page__list-eval-product">
                <div class="main_page__list-eval-product-header">
                    <div class="main_page__list-eval-product-header-left">
                        <div class="main_page__list-eval-product-header__text">Thông tin Sản phẩm</div>
                    </div>
                    <div class="main_page__list-eval-product-header__right">
                        <div class="main_page__list-eval-product-header__text">
                            Đánh giá của người mua</div>
                    </div>
                </div>
                <!-- No-eval: main_page__list-eval-product__no-eval-->
                <div class="main_page__list-eval-product-body ">
                    <svg class="main_page__list-eval-product__no-eval-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 93 87">
                        <defs>
                            <rect id="defaultpage_nodata-a" width="45" height="33" x="44" y="32" rx="2"></rect>
                            <mask id="defaultpage_nodata-b" width="45" height="33" x="0" y="0" fill="#fff" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox">
                                <use href="#defaultpage_nodata-a"></use>
                            </mask>
                        </defs>
                        <g fill="none" fill-rule="evenodd" transform="translate(-3 -4)">
                            <rect width="96" height="96"></rect>
                            <ellipse cx="48" cy="85" fill="#F2F2F2" rx="45" ry="6"></ellipse>
                            <path fill="#FFF" stroke="#D8D8D8" d="M79.5,17.4859192 L66.6370555,5.5 L17,5.5 C16.1715729,5.5 15.5,6.17157288 15.5,7 L15.5,83 C15.5,83.8284271 16.1715729,84.5 17,84.5 L78,84.5 C78.8284271,84.5 79.5,83.8284271 79.5,83 L79.5,17.4859192 Z"></path>
                            <path fill="#DBDBDB" fill-rule="nonzero" d="M66,6 L67.1293476,6 L67.1293476,16.4294956 C67.1293476,17.1939227 67.7192448,17.8136134 68.4469198,17.8136134 L79,17.8136134 L79,19 L68.4469198,19 C67.0955233,19 66,17.849146 66,16.4294956 L66,6 Z"></path>
                            <g fill="#D8D8D8" transform="translate(83 4)">
                                <circle cx="7.8" cy="10.28" r="3" opacity=".5"></circle>
                                <circle cx="2" cy="3" r="2" opacity=".3"></circle>
                                <path fill-rule="nonzero" d="M10.5,1 C9.67157288,1 9,1.67157288 9,2.5 C9,3.32842712 9.67157288,4 10.5,4 C11.3284271,4 12,3.32842712 12,2.5 C12,1.67157288 11.3284271,1 10.5,1 Z M10.5,7.10542736e-15 C11.8807119,7.10542736e-15 13,1.11928813 13,2.5 C13,3.88071187 11.8807119,5 10.5,5 C9.11928813,5 8,3.88071187 8,2.5 C8,1.11928813 9.11928813,7.10542736e-15 10.5,7.10542736e-15 Z" opacity=".3"></path>
                            </g>
                            <path fill="#FAFAFA" d="M67.1963269,6.66851903 L67.1963269,16.32 C67.2587277,17.3157422 67.675592,17.8136134 68.4469198,17.8136134 C69.2182476,17.8136134 72.735941,17.8136134 79,17.8136134 L67.1963269,6.66851903 Z"></path>
                            <use fill="#FFF" stroke="#D8D8D8" stroke-dasharray="3" stroke-width="2" mask="url(#defaultpage_nodata-b)" href="#defaultpage_nodata-a"></use>
                            <rect width="1" height="12" x="54" y="46" fill="#D8D8D8" rx=".5"></rect>
                            <rect width="1" height="17" x="62" y="40" fill="#D8D8D8" rx=".5"></rect>
                            <rect width="1" height="10" x="70" y="48" fill="#D8D8D8" rx=".5"></rect>
                            <rect width="1" height="14" x="78" y="43" fill="#D8D8D8" rx=".5"></rect>
                        </g>
                    </svg>
                    <div class="main_page__list-eval-product__no-eval-text">Chưa có sản phẩm</div>


                    <ul class="main_page__eval-product-list-item">
                        <li class="main_page__eval-product-item">

                            <div class="main_page__eval-product-item-info">
                                <img src="https://cncvina.com.vn/uploads/2559/robot-dan-gioang-seal.jpg" alt="" class="main_page__eval-product-img">

                                <h5 class="main_page__eval-product-item-name">Robot tự động</h5>

                            </div>
                            <div class="main_page__eval-product-item-infocustom">
                                <div class="main_page__eval-product-item-infocustom-user">
                                    <img src="assets/img/logoshop.webp" class="main_page__eval-product-item-infocustom-img" alt="">
                                    <h5 class="main_page__eval-product-username">Nhatle11</h5>
                                </div>

                                <div class="main_page__eval-product-rating">1 Sao</div>
                                <span class="main_page__eval-product-comment">Sản phẩm không đúng như hình</span>

                            </div>

                        </li>
                        <li class="main_page__eval-product-item">

                            <div class="main_page__eval-product-item-info">
                                <img src="https://cncvina.com.vn/uploads/2559/robot-dan-gioang-seal.jpg" alt="" class="main_page__eval-product-img">

                                <h5 class="main_page__eval-product-item-name">Robot tự động</h5>

                            </div>
                            <div class="main_page__eval-product-item-infocustom">
                                <div class="main_page__eval-product-item-infocustom-user">
                                    <img src="assets/img/logoshop.webp" class="main_page__eval-product-item-infocustom-img" alt="">
                                    <h5 class="main_page__eval-product-username">Nhatle11</h5>
                                </div>

                                <div class="main_page__eval-product-rating">1 Sao</div>
                                <span class="main_page__eval-product-comment">Sản phẩm không đúng như hình</span>

                            </div>

                        </li>
                        <li class="main_page__eval-product-item">

                            <div class="main_page__eval-product-item-info">
                                <img src="https://cncvina.com.vn/uploads/2559/robot-dan-gioang-seal.jpg" alt="" class="main_page__eval-product-img">

                                <h5 class="main_page__eval-product-item-name">Robot tự động</h5>

                            </div>
                            <div class="main_page__eval-product-item-infocustom">
                                <div class="main_page__eval-product-item-infocustom-user">
                                    <img src="assets/img/logoshop.webp" class="main_page__eval-product-item-infocustom-img" alt="">
                                    <h5 class="main_page__eval-product-username">Nhatle11</h5>
                                </div>

                                <div class="main_page__eval-product-rating">1 Sao</div>
                                <span class="main_page__eval-product-comment">Sản phẩm không đúng như hình</span>

                            </div>

                        </li>
                        <li class="main_page__eval-product-item">

                            <div class="main_page__eval-product-item-info">
                                <img src="https://cncvina.com.vn/uploads/2559/robot-dan-gioang-seal.jpg" alt="" class="main_page__eval-product-img">

                                <h5 class="main_page__eval-product-item-name">Robot tự động</h5>

                            </div>
                            <div class="main_page__eval-product-item-infocustom">
                                <div class="main_page__eval-product-item-infocustom-user">
                                    <img src="assets/img/logoshop.webp" class="main_page__eval-product-item-infocustom-img" alt="">
                                    <h5 class="main_page__eval-product-username">Nhatle11</h5>
                                </div>

                                <div class="main_page__eval-product-rating">1 Sao</div>
                                <span class="main_page__eval-product-comment">Sản phẩm không đúng như hình</span>

                            </div>

                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
<script th:src="@{/js/seller_script.js}"></script>
</body>
</html>